{{- define "os.storage.files.etc.rancher.k3s.config.yaml" -}}
{{- $e := required "e missing" .e -}}
{{- $target := required "target missing" .target -}}
{{- $position := required "position missing" .position -}}
{{- $k3s_cmd := include "os.k3s_cmd" (dict "position" $position) -}}
{{- $k3s_token := required "k3s_token missing" $e.k3s_token -}}
{{- $k3s_agent_token := required "k3s_agent_token missing" $e.k3s_agent_token -}}
{{- $kube_vip := get $e "kube_vip" | default dict -}}
{{- $vip := get $kube_vip "vip" | default "" -}}
{{- $targets := required "targets missing" $e.targets -}}
{{- $k3s_url := eq $vip "" | ternary ($targets | first) $vip | printf "https://%s:6443" -}}
# https://docs.k3s.io/installation/configuration
- path: /etc/rancher/k3s/config.yaml
  overwrite: true
  contents:
    inline: |
    {{- if eq $k3s_cmd "server" }}
      token: {{ $k3s_token | quote }}
      agent-token: {{ $k3s_agent_token | quote }}
      secrets-encryption: true
      secrets-encryption-provider: secretbox
      {{- if $vip }}
      tls-san: {{ $vip | quote }}
      {{- end }}
    {{- else }}
      token: {{ $k3s_agent_token | quote }}
    {{- end }}
    {{- if eq $position 1 }}
      cluster-init: true
    {{- else }}
      server: {{ $k3s_url | quote }}
    {{- end }}
      node-ip: {{ $target | quote }}
  mode: 0600
{{- end }}
